@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.main_container{
    background-color: #EAEDED;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center
}
.diagonal{
    background-color: #F25757;
    height: 100vh;
    clip-path: polygon(20% 100%, 100% 0%, 100% 100%, 0% 100%);
}
.all_section{
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
}

.about_me{
    text-align: center
}

.section_1{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);  
    height: 60vh;
    width: 75vw;
    background-color: white;
    border-radius: 7px;
    padding: 25px 25px 25px 25px;
    
}
.section_2{
    
}
.section_3{
    
}
.section_4{
    
}